<div class="mytooltip" >
<div class="mycomment sometooltip" id="<%= dom_id comment %>">
  <p>
  <span class="left"><%=comment.user.username%></span>
  <span class="right">

  <%=time_ago_in_words(comment.created_at)%>
  </span>
  </p>
  <p class="nativelanguage">
    &#128488; <%= comment.user.native_languages.first.language.name%>
  </p>

  <%case comment.post.demande_id%>
  <%when 2%>
    <p class="naturel" data-naturel="<%=comment.post.content%>">

  <%= comment.content %>
    
  </p>
  <%else%>
  <p>

  <%= comment.content %>
  </p>

  <%end%>






</div>
</div>
