<div id="<%= dom_id post %>">
  <p>
    <strong>Demande:</strong>
    <%= post.demande_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

  <p>
    <strong>Pic:</strong>
    <%= post.pic %>
  </p>

  <p>
    <strong>Rec:</strong>
    <%= post.rec %>
  </p>

  <p>
    <strong>Info:</strong>
    <%= post.info %>
  </p>

  <p>
    <strong>User:</strong>
    <%= post.user_id %>
  </p>

</div>
