<p style="color: green"><%= notice %></p>

<%= render @user_interested_country %>

<div>
  <%= link_to "Edit this user interested country", edit_user_interested_country_path(@user_interested_country) %> |
  <%= link_to "Back to user interested countries", user_interested_countries_path %>

  <%= button_to "Destroy this user interested country", @user_interested_country, method: :delete %>
</div>
