<%= form_with(model: study_language) do |form| %>
  <% if study_language.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(study_language.errors.count, "error") %> prohibited this study_language from being saved:</h2>

      <ul>
        <% study_language.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :language_id, style: "display: block" %>
    <%= form.number_field :language_id %>
  </div>

  <div>
    <%= form.label :learning_level_id, style: "display: block" %>
    <%= form.number_field :learning_level_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
